* {
    box-sizing: border-box;             
    margin: 0;
    padding: 0;                                                    
}

.grid {
    display: grid;                                                                       
    grid-template-columns: 1fr;      
    grid-template-rows: minmax(50px, 10%) minmax(150px, 30%) minmax(200px, 30%) minmax(150px, 30%);
    height: 100vh; 
    grid-column-gap: 0;                                     
    grid-row-gap: 0;   
    grid-template-areas:
    "item1"
    "item2"
    "item3"
    "item4"  
    ;                     
}

        .item1 {
            grid-area: item1;
            background: linear-gradient(#e6d67f, #d7dba1);
        }

        .item2 {
            grid-area: item2;
            background: linear-gradient(#c28fae, #8a8888);
        }

        .item3 {
            grid-area: item3;
            background: linear-gradient(#ffffff, #ffffff);
        }

        .item4 {
            grid-area: item4;
            background: linear-gradient(#89b1d3, #747475);
        }

        .item5 {
            grid-area: item5;
            background-color: lightyellow;
        }

/* NESTED GRID */

.nestedgrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    grid-column-gap: 0;                                     
    grid-row-gap: 0;   
    grid-template-areas:
    "nested1 nested1"
    "nested2 nested2"
    "nested3 nested4"
    ;   
            
}

        .nested1 {
            grid-area: nested1;
            background-color: blue;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .nested2 {
            grid-area: nested2;
            background-color: red;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .nested3 {
            grid-area: nested3;
            background-color: green;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .nested4 {
            grid-area: nested4;
            background-color: purple;
            display: flex;
            align-items: center;
            justify-content: center;
        }

 @media only screen and (min-width: 640px) {
            
    .grid {
        display: grid;                                                                       
        grid-template-columns: minmax(150px, 1fr) minmax(50%, 1fr) minmax(150px, 1fr);      
        grid-template-rows: minmax(50px, 100px) minmax(300px, 1fr);
        grid-column-gap: 0;                                     
        grid-row-gap: 0;   
        grid-template-areas:
        "item1 item1 item1"
        "item2 item3 item4"   
        ;                     
    }
    
}