* {
    box-sizing: border-box;                                /* Make sure sizing repsects the dimensions explicitly stated */                  
    margin: 0;                                             /* Reset Rule: sets all elements to 0 margin. Helpful for making consistent designs.*/
    padding: 0;                                            /* Reset Rule: sets all elements to 0 padding. Helpful for making consistent designs.*/                                                      
}


.grid {
    display: grid;                                                                       
    grid-template-columns: minmax(150px, 1fr) minmax(50%, 1fr) minmax(150px, 1fr);      
    grid-template-rows: minmax(50px, 100px) minmax(300px, 1fr) minmax(50px, 100px);
    height: 100vh;  
    grid-column-gap: 0;                                     
    grid-row-gap: 0;   
    grid-template-areas:
    "item1 item1 item1"
    "item2 item3 item4"   
    "item5 item5 item5"
    ;                     
}

        .item1 {
            grid-area: item1;
            background-color: lightblue;
        }

        .item2 {
            grid-area: item2;
            background-color: lightpink;   
        }

        .item3 {
            grid-area: item3;
            background-color: lightcyan;
        }

        .item4 {
            grid-area: item4;
            background-color: lightslategrey;   
        }

        .item5 {
            grid-area: item5;
            background-color: lightyellow;
        }

/* NESTED GRID */

.nestedgrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    margin: 4px;
    grid-column-gap: 4px;                                     
    grid-row-gap: 4px;   
    grid-template-areas:
    "nested1 nested1"
    "nested2 nested2"
    "nested3 nested4"
    ;                
}

        .nested1 {
            grid-area: nested1;
            background-color: blue;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .nested2 {
            grid-area: nested2;
            background-color: red;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .nested3 {
            grid-area: nested3;
            background-color: green;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .nested4 {
            grid-area: nested4;
            background-color: purple;
            display: flex;
            align-items: center;
            justify-content: center;
        }