* {
    box-sizing: border-box;
    margin: 0;  /* Reset rule - sets all elements to x... helpful for making consistent designs*/
    padding: 0;  /* Reset rule*/
    height: 100%; /* Allows the body to grow as high as the content requires*/
}

/*
Force the body to not get any smaller than then window height.
-----
body {
    min-height: 100%;
}
*/



.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 2px;               /* space between rows*/
    column-gap: 2px;                 /* space between columns*/
    grid-template-areas: 
    "title title"
    "sidebar header"
    "sidebar content"
    "sidebar footer"
    ;
}


/* Grid area ID's for .grid (above) */
.title {
    grid-area: title;
}
.header {
    grid-area: header;
}
.sidebar {
    grid-area: sidebar;
}
.content {
    grid-area: content;
}
.footer {
    grid-area: footer;
}


/* Section Styling*/
.title {
    background-color: lightblue;
}
.header {
    background-color: orange;
}
.sidebar {
    background-color: lightseagreen;
}
.content {
    background-color: yellow;
}
.footer {
    background-color: lightgrey;
}

